*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.container{
  display: flex;
}

.number_btn{
  border:1px solid black;
  background: cornflowerblue;
  padding:10px 30px;
  margin:2px;
  font-size: 40px;
} 

.number_btn:hover{
  background: darkblue;
  color:white;
}

.screen {
  background:whitesmoke;
  height:9vh;
  max-width: 500px;
  border: 2px solid black
}

.screen_digit{
  font-size: 40px;
  height: 100%;
}